<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/saveSettings" method="post" id="settingsForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="launchMethod">Link Action</label>
                        <select class="form-control" name="launchMethod" id="launchMethod">
                            <option id="0" value="0">iFrame</option>
                            <option id="1" value="1">New Window</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>